<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>LLM</string>
	<key>State</key>
	<true/>
	<key>Symbol</key>
	<string>brain</string>
	<key>Widgets</key>
	<dict>
		<key>text</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Order</key>
			<integer>0</integer>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>12.5k $1.02</string>
			</dict>
		</dict>
		<key>sensors</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>popup</key>
		<true/>
		<key>notifications</key>
		<false/>
	</dict>
</dict>
</plist>
